@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/source-sans-pro");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #333;
  font-family: "Source Sans Pro", "-apple-system", "BlinkMacSystem", "Segoe UI",
    "Roboto", "Helvetica", "Arial", sans-serif, "Outfit";
  font-weight: 300;
  line-height: 1.5;
  /* overflow: hidden; */
  overflow-x: hidden;
  position: relative;
  background: transparent;
}
